.calc {
   width: 100%;
   height: 100%;
}

.calc__main {
   grid-template-rows: repeat(5, 1fr);
   grid-template-columns: repeat(4, 1fr);
   grid-template-areas: 
   'a b c d'
   'e f g h'
   'i j k l'
   'm n o p'
   'q q r p';
 }
 .calc__btn {
   border-radius: 16px;
   border: 1px solid rgba(255, 255, 255, 0.85);
   background: linear-gradient(130deg, rgba(255, 255, 255, 0.60) -9.69%, rgba(255, 255, 255, 0.40) 114.23%);
   backdrop-filter: blur(6px);
   min-width: 62px;
   min-height: 62px;
   color: #cfcfcf;
   transition: 0.3s;
   &:hover {
      background: #707070;
      box-shadow: 0px 5px 23px 0px rgba(0, 163, 255, 0.65), -3px 4px 11px 0px #B0DFFF inset;
   }
 }

.btn__Ac {
   grid-area: a;
}
.btn__remove {
   grid-area: b;
}
.btn__divisor {
   grid-area: c;
   border: 1px solid rgba(255, 255, 255, 0.39);
   background: linear-gradient(204deg, #ADD8FF -8.99%, rgba(173, 216, 255, 0.28) 111.42%);
   box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.43) inset;
   color: rgba(0, 0, 0, 0.70);
}
.btn__multiplier {
   grid-area: d;
   border: 1px solid rgba(255, 255, 255, 0.39);
   background: linear-gradient(204deg, #ADD8FF -8.99%, rgba(173, 216, 255, 0.28) 111.42%);
   box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.43) inset;
   color: rgba(0, 0, 0, 0.70);
}
.btn__seven {
   grid-area: e;
}
.btn__eight {
   grid-area: f;
}
.btn__nine {
   grid-area: g;
}
.btn__minus {
   grid-area: h;
   border: 1px solid rgba(255, 255, 255, 0.39);
   background: linear-gradient(204deg, #ADD8FF -8.99%, rgba(173, 216, 255, 0.28) 111.42%);
   box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.43) inset;
   color: rgba(0, 0, 0, 0.70);
}
.btn__four {
   grid-area: i;
}
.btn__five {
   grid-area: j;
}
.btn__six {
   grid-area: k;
}
.btn__plus {
   grid-area: l;
   border: 1px solid rgba(255, 255, 255, 0.39);
   background: linear-gradient(204deg, #ADD8FF -8.99%, rgba(173, 216, 255, 0.28) 111.42%);
   box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.43) inset;
   color: rgba(0, 0, 0, 0.70);
}
.btn__one {
   grid-area: m;
}
.btn__two {
   grid-area: n;
}
.btn__three {
   grid-area: o;
}
.btn__equal {
   grid-area: p;
   background: #19ACFF;
   border: none;
}
.btn__zero {
   grid-area: q;
}
.btn__dot {
   grid-area: r;
}

.btn__b__1 {
   background: #616161;
   border:  none;
}
.btn__b__2 {
   background: #005DB2;
   color: #339DFF;
   border:  none;
   &:hover {
      background: #303136;
   }
}
.btn__b__3 {
   background: #303136;
   color: #339DFF;
   border:  none;
}
.btn__r__1 {
   background: #303136;
   border:  none;
}
.btn__r__2 {
   border:  none;
   background: #8500ad;
   color: #fff;
   &:hover {
      background: #000;
   }

}
.btn__r__3 {
   border:  none;
   background: #303136;
   color: #339DFF;
   &:hover {
      background: #008fd1;
      box-shadow: 0px 5px 23px 0px rgba(138, 0, 192, 0.85), -3px 4px 11px 0px #b6b6b6 inset;
   }
}
.calcInterface {
      max-width: 375px;
      width: 100%;
      height: 670px;
      border-radius: 39px;
      position: relative;
      z-index: 2;
      background: #ffffff;
      padding: 40px 30px;
      background: linear-gradient(180deg, rgba(255,255,255,1) 8%, rgba(0,111,163,0.10127801120448177) 100%);
      transition: 0.8s;
}
.calcInterface__b {
   background: #17181A;
   max-width: 375px;
      width: 100%;
      height: 670px;
      border-radius: 39px;
      position: relative;
      z-index: 2;
      padding: 40px 30px;
      transition: 0.8s;
}
.calcInterface__r {
   background: #17181A;
   max-width: 375px;
      width: 100%;
      height: 670px;
      border-radius: 39px;
      position: relative;
      z-index: 2;
      padding: 40px 30px;
      transition: 0.8s;
}
.btn__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.btn__img__b {
}
.calc-back {
   position: absolute;
   right: -120px;
   top: 80px;
   width: 100%;
   height: 100%;
   border-radius: 39px;
   filter: blur(61.5px);
   background: rgba(96, 190, 255, 0.55);
 }
.calc-back-3 {
   top: -50px;
   right: 0px;
   height: 120%;
   width: 50%;
   filter: blur(61.5px);
}
.calc-back-3-body {
   width: 100%;
   height: 100%;
}
.calc__result {
   font-size: 25px;
   color: #777777;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin: 30px 0 0 0;
}
.calc__input-1 {
   text-align: end;
   background: inherit;
   cursor: default;
}
.calc__input-2 {
   text-align: end;
   background: inherit;
   cursor: default;
}
